.card-container {
    height: auto;
    width: 50vh;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
}

.img-container,
.book-button {
    display: flex;
    justify-content: center;
}

.logo {
    height: 30vh;
    width: 30vh;
}

.name {
    margin: 0;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.address {
    margin: 0;
    padding: 0;
    text-align: center;
}

.offer {
    display: flex;
}

.offer-img {
    margin: 8px;
}

.book {
    height: 5vh;
    width: 20vh;
    cursor: pointer;
    border-radius: 20px;
}

@media only screen and (max-width: 768px) {
    .all {
        margin: 70px;
    }

    .card-container {
        height: auto;
        width: 33vh;
    }

    .logo {
        height: 20vh;
        width: 20vh;
        margin-top: 10px;
    }

    .offer-img {
        width: 50px;
        height: 55px;
        margin: 18px 5px;
    }
}